body{
    max-width: 90rem;
    background-color: black;
    margin:auto;
    
}

.container{
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    /* background-size: cover; */
    position: relative;
    margin:auto;
    max-width: 150rem;
   
}
.head {background-color: rgb(255, 255, 255);
    overflow: none;
    height: 50px;
    width: 50%;
    position: absolute;
    right: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

.head-button{
    margin-left: 10px;
    background: linear-gradient(to bottom, #190be7, #0ce2f1 50%, #ffffff 50%);    color: #000000;
    background-size: 100% 200%;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20%;
    color: #ffffff;
    transition: background-position 0.3s ease;
}
head-button:hover {
    background-position: 0% 100%;
  }